<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Estas buscando: <strong>{{query}}</strong></p>
    {% if articulos %}
    <p>Articulos encontrados: {{articulos|length}} articulo/s</p>
    <ul>
        {% for articulo in articulos %}
        <li>{{articulo.nombre}} {{articulo.seccion}} {{articulo.precio}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No existe el articulo</p>
    {% endif %}
</body>

</html>
