{% extends 'cucinaDiTatiApp/base.html' %}
<!-- {% block navbarBrand %}
<a class="navbar-brand" href="{% url 'tienda' %}">Tienda</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
{% endblock %} -->
{% block content %}
<h4>Tienda</h4>

<!-- <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categorias</th>
            <th scope="col">Imagen</th>
            <th scope="col">Precio</th>
            <th scope="col">Disponibilidad</th>
        </tr>
    </thead>
    <tbody> -->
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for producto in productos %}
        <!-- <tr>
            <th scope="row">{{producto.id}}</th>
            <td>{{producto.nombre}}</td>
            <td>{{producto.categorias}}</td>
            <td>
                {% if not producto.imagen %}
                <p>Post sin imagen</p>
                {% else %}
                <img src="{{producto.imagen.url}}" alt="{{producto.titulo}}">
                {% endif %}
            </td>
            <td>$ {{producto.precio}}</td>
            <td>{{producto.disponibilidad}}</td>
        </tr> -->

        <div class="col mb-4">
            <div class="card">
                <img src="{{producto.imagen.url}}" class="card-img-top" alt="{{producto.titulo}}">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.categorias}}</p>
                    <p class="card-text">Precio: $ {{producto.precio}}</p>
                    <p class="card-text">Disponibilidad: {{producto.disponibilidad}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="col mb-4">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
        <!-- <div class="col mb-4">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content.</p>
            </div>
        </div>
    </div> -->
        <!-- <div class="col mb-4">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
        {% endfor %}
    </div>
</div>
<!-- </tbody>
</table> -->
{% endblock %}
